<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div><span></span></div>
              <div class="form-group">
                <label for="uname1">Email</label>
                <input type="email" class="form-control rounded-0" [(ngModel)]="loginUserData.Email" name="email" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.Password" name="password" required>
              </div>
              <button type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>