  
<nav class="navbar navbar-expand-lg navbar-primary " style="background-color: #ce313d;">
  <a class="navbar-brand" href="#">
    <h4 style="color:#fff">VALIDATA</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/oktadeveloper/okta-angular-bootstrap-example" style="color:white;">GitHub</a>
      </li>
      <li class="nav-item pl-lg-3">
        <button *ngIf="!isLoggedIn()" routerLink="/login" class="btn btn-outline-light">Login</button>
        <button *ngIf="!isLoggedIn()" routerLink="/register" class="btn btn-outline-light" style="margin-left:10px">Register</button>
        <button *ngIf="isLoggedIn()" (click)="logoutUser($event)" class="btn btn-outline-light">Logout</button>
      </li>
    </ul>
  </div>
</nav>
  <router-outlet></router-outlet>