<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">First Name</label>
                <input type="text" [(ngModel)]="registerUserData.FirstName" name="firstname" class="form-control rounded-0" required>
                <label>Last Name</label>
                <input type="text" [(ngModel)]="registerUserData.LastName" name="lastname" class="form-control rounded-0"  required>
              </div>
              <div class="form-group">
                <label for="uname1">Email</label>
                <input type="email" [(ngModel)]="registerUserData.Email" name="email" class="form-control rounded-0" required>
              </div>
              <label for="uname1">Password</label> 
              <div class="form-group">
                <div class="btn-group mr-8" style="width:40%; margin-right:10px" >
                  <input type="password" [(ngModel)]="registerUserData.Password" name="password" class="form-control rounded-0"  required>
                </div>
                <div class="btn-group mr-4" style="width:40%">
                  <button type="button" class="btn btn-outline-success">Role Level</button>
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown"  >
                    <button class="btn btn-outline-primary" ngbDropdownToggle >Select</button>
                    <div class="dropdown-menu" ngbDropdownMenu  required>
                      <option ngbDropdownItem *ngFor="let type of ePropertyType | keyvalue" [ngValue]="type.value" (click)="getRole(type.key)">{{type.value}}</option>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>